
$hamburger-bgC: #404040;
$hamburger-border-color: rgba(0, 0, 0, 0.2);
$main-color: #251F75;
$slider-arrow-bg-color: rgba(255, 255, 255, 0.2);
$section-heading-color: #251F75;
$list-heading-bg-color: #251F75;
$border-color: rgba(37, 31, 117);
$notice-bg-color: rgb(249, 249, 249);