
$hamburger-bgC: #404040;

$main-color: #251F75;

$hamburger-menu-color: #251F75;
$hamburger-menu-hover-color: #ffffff;
$hamburger-menu-bg-color: #251F75;

$hamburger-border-color: rgba(0, 0, 0, 0.2);

$slider-arrow-bg-color: rgba(255, 255, 255, 0.2);

$section-heading-color: #251F75;

$list-heading-bg-color: #251F75;

$border-color: rgba(37, 31, 117);

//login form


//notice board
$notice-bg-color: rgb(249, 249, 249);