/*-------------------------------------------------*\
                 flex library code
\*-------------------------------------------------*/
/*-------------------------------------------------*\
                 flex library code
\*-------------------------------------------------*/
.pagination-cont .search .input-type-1 .myBtn-b .svg-cont svg {
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------*\
                input-type-1
\*-------------------------------------------------*/
/*-------------------------------------------------*\
                input-type-2
\*-------------------------------------------------*/
/*-------------------------------------------------*\
                input-type-submit (submit)
\*-------------------------------------------------*/
/*------------------------------------*\
           REUSABLE CSS
\*------------------------------------*/
/*a tag*/
a {
  font-weight: 500;
  transition: 0.3s all ease;
}

/* -----h1 style-----*/
h1 {
  font-family: "hali";
  font-size: 3rem;
  font-weight: 700;
}

/*-----p tag-----*/
p {
  font-size: 1rem;
  color: #ffffff;
}

/*-----h3 tag-----*/
h3 {
  color: #ffffff;
  font-weight: 700;
}

.sec-m-p {
  padding: 0 55px;
}

.section-heading {
  font-size: 3rem;
  font-family: "hali";
  font-weight: 700;
  color: #251F75;
}

/*section margin*/
.sec-gap {
  margin-bottom: 55px;
}

/*------------------------------------*\
            article-type-1
\*------------------------------------*/
.article-type-1-cont {
  display: flex;
  flex-direction: column;
  gap: 105px;
}
.article-type-1-cont .article-type-1 {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.article-type-1-cont .article-type-1 p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.article-type-1-cont .article-type-1 p strong {
  font-weight: 600;
}

/*------------------------------------*\
            notice
\*------------------------------------*/
/*------------------------------------*\
            table
\*------------------------------------*/
.my-table table {
  border: 1px solid black;
  border-right: 0;
}
.my-table table th,
.my-table table td {
  padding: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.my-table table th {
  white-space: nowrap;
}
.my-table table th {
  background-color: #30c2ff;
  font-size: 1.2rem;
  font-weight: 500;
}

/*-------------------------------------------------*\
            Pagination 
\*-------------------------------------------------*/
.pagination-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.pagination-cont .numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.pagination-cont .numbers button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 0px;
  border-bottom: 3px solid transparent;
  color: #251F75;
  font-weight: 700;
}
.pagination-cont .numbers button span {
  overflow: hidden;
}
.pagination-cont .numbers button:hover {
  border-bottom: 3px solid #251F75;
  transition: all 1s ease;
}
.pagination-cont .numbers button:nth-child(1), .pagination-cont .numbers button:nth-child(9) {
  border-radius: 3px;
  background-color: #251F75;
}
.pagination-cont .numbers .svg-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
}
.pagination-cont .numbers .svg-cont svg path {
  fill: #ffffff;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
}
.pagination-cont .search .input-type-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.pagination-cont .search .input-type-1 input {
  border: none;
  border-radius: 0;
  padding: 8px 10px;
}
.pagination-cont .search .input-type-1 input::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 1rem;
}
.pagination-cont .search .input-type-1 input:nth-child(1) {
  width: 50px;
  border: 1px solid #b8b8b8;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
}
.pagination-cont .search .input-type-1 input[type=submit] {
  background-color: #251F75;
  border: 1px solid #251F75;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.pagination-cont .search .input-type-1 .myBtn-b {
  background-color: #251F75;
  border: 1px solid #251F75;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.pagination-cont .search .input-type-1 input {
  border: none;
  border-radius: 0;
}
.pagination-cont .search .input-type-1 input:nth-child(1) {
  border: 1px solid #251F75;
  border-radius: 5px;
  margin-right: 10px;
}
.pagination-cont .search .input-type-1 input::-webkit-input-placeholder {
  color: rgb(249, 249, 249);
  font-size: 1rem;
}
.pagination-cont .search .input-type-1 .myBtn-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2px;
  background-color: transparent;
  color: #251F75;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.pagination-cont .search .input-type-1 .myBtn-b .svg-cont {
  height: 20px;
}
.pagination-cont .search .input-type-1 .myBtn-b .svg-cont svg path {
  fill: #251F75;
}

.activeClassPagination {
  border-bottom: 3px solid #251F75 !important;
}/*# sourceMappingURL=reusable_sass.css.map */